
{% load static %}
<link rel="shortcut icon" type="image/ico" href="{% static 'predict/flame-logo.png'%}"/>



<link rel="stylesheet" href="{% static 'predict/base.css' %}">


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Drop Down Sidebar Menu | CodingLab </title>-->
    <link rel="stylesheet" href="style.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <script>(function(w,r){w._rwq=r;w[r]=w[r]||function(){(w[r].q=w[r].q||[]).push(arguments)}})(window,'rewardful');</script>
    <script async src='https://r.wdfl.co/rw.js' data-rewardful='49b3ad'></script>
   </head>
<body>
  <div class="sidebar close" style="z-index: 10000000; ">
    <div class="logo-details" style="padding-top:10px; padding-left:15px;">
      <img class="resp"style="margin-top:10px;height:55px;padding-bottom:10px"src="{% static 'predict/flame-logo.png'%}">
      <span class="logo_name">FireBet.ai</span>
    </div>
    <ul class="nav-links" style="">
      
      <li>
        <div class="iocn-link">
          <a href="/predict/dash">
            <i class="fa-solid fa-basketball"></i>
            <span class="link_name">Basketball</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="/predict/dash">Basketball</a></li>
          <li><a href="/predict"><i class="fa-solid fa-list-ul"></i> Game Analysis</a></li>
          <li><a href="/predict/train/0"><i class="fa-solid fa-robot"></i> Train Model</a></li>
          <!--
          <li><a href="/predict/teams"> <i class="fa-solid fa-database"></i> Data Trends</a></li>
          -->
          

        </ul>
      </li>



      <li>
        <div class="iocn-link">
          <a href="/predict/arb">
            <i class="fa-solid fa-sack-dollar"></i>
            <span class="link_name">Arbitrage</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="/predict/arb">Arbitrage</a></li>
          <li><a href="/predict/arb"><i class="fa-solid fa-list-ul"></i> Hedged Bets</a></li>
          <li><a href="https://app.firebet.ai/forum/forum/arbitrage-6/"><i class="fa-solid fa-circle-question"></i> About</a></li>
        </ul>
      </li>
      <!-- 
      <li>
        <div class="iocn-link">
          <a href="/predict/ev">
            <i class="fa-solid fa-star"></i>
            <span class="link_name">Value Bets</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="/predict/ev">Value Bets</a></li>
          <li><a href="/predict/ev"><i class="fa-solid fa-list-ul"></i> Positive EV</a></li>
          <li><a href="/predict/evrecord"><i class="fa-solid fa-clipboard"></i>Record</a></li>
          <li><a href="https://app.firebet.ai/forum/forum/general-2/topic/understanding-ev-bets-maximizing-profits-in-sports-betting-34/"><i class="fa-solid fa-circle-question"></i> About EV</a></li>
        </ul>
      </li>
-->
      <li>
        <a href="https://app.firebet.ai/tensorboard/?darkMode=true#timeseries&regexInput=." target="_blank">
          <i class="fa-solid fa-chart-simple"></i>
          <span class="link_name">TensorBoard</span>
        </a>
        <ul class="sub-menu blank">
            
            <li><a class="link_name" href="https://app.firebet.ai/tensorboard/?darkMode=true#timeseries&regexInput=." target="_blank"> <i class="fa-regular fa-chart-column"></i> TensorBoard</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="https://app.firebet.ai/forum/">
            <i class="fa-solid fa-comment"></i>
            <span class="link_name">Forums</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="https://app.firebet.ai/forum/">Forums</a></li>
          <li><a href="https://app.firebet.ai/forum/forum/general-2/"><i class="fa-solid fa-list-ul"></i> General</a></li>
          <li><a href="https://app.firebet.ai/forum/forum/arbitrage-6/"><i class="fa-solid fa-sack-dollar"></i> Arbitrage</a></li>
          <li><a href="https://app.firebet.ai/forum/forum/general-2/topic/understanding-ev-bets-maximizing-profits-in-sports-betting-34/">            <i class="fa-solid fa-star"></i>
            EV Forum</a></li>
          <li><a href="https://app.firebet.ai/forum/forum/model-training-3/"><i class="fa-solid fa-robot"></i>  AI Models</a></li>
        </ul>
      </li>

      
      <li>
        <a href="/profile" >
          <i class="fa-solid fa-user"></i>
          <span class="link_name">Profile</span>
        </a>
        <ul class="sub-menu blank">
            
            <li><a class="link_name" href="/profile"> <i class="fa-solid fa-user"></i> Profile</a></li>
        </ul>
      </li>

      <li>
        <a href="/predict/faq" >
          <i class="fa-solid fa-circle-question"></i>
          <span class="link_name">About</span>
        </a>
        <ul class="sub-menu blank">
            
            <li><a class="link_name" href="/predict/faq">           <i class="fa-solid fa-circle-question"></i> About</a></li>
        </ul>
      </li>


    <div class="profile-details">
      <div class="profile-content">
        <!--<img src="image/profile.jpg" alt="profileImg">-->
      </div>
      <div class="name-job">
        <div class="profile_name">Machine Learning</div>
        <div class="job">Sports Analytics</div>
      </div>
      <a href="https://app.firebet.ai/logout/">

        <i class='bx bx-log-out'  style="margin-right:25px"></i>

      </a>
    </div>
  </li>
</ul>
  </div>
  <section class="home-section">
    
  </section>
  <section class="home-section">
    <div class="home-content" style="position:fixed;padding-top:7px;width:100%;z-index: 10000000000;">
      <i style="color:var(--main-font-color)" class='bx bx-menu' ></i>
      <span style="z-index: 10000000000;"class="text" style="color:var(--main-font-color)"></span>
    </div>
  </section>
</body>
</html>








<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="Transform your bets using AI to spot patterns and help you gain an edge over vegas odds.  Simulate future events and gain insights into game outcomes. Fire Bet models use a wealth of data enabling you to make smarter more profitable bets.Beat the bookies with Fire Bet ai models and market analysis tools.">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- icons 
<div class="background3"id="bkgrnd"style="height:100%;width:100%!important;"></div>

<div class="background2"id="bkgrnd"style="opacity:.4;top:0px;position: fixed;width:100%;overflow:hidden;overflow-y:hidden"></div>
    <script src="https://kit.fontawesome.com/f530480be2.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3068fc76d0.js" crossorigin="anonymous"></script>

    -->
    <script src="https://kit.fontawesome.com/7e00f5d413.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'predict/main.css'%}">
    <link rel="shortcut icon" type="image/ico" href="{% static 'predict/flame-logo.png'%}"/>
    <title>Sports Bet AI and Machine Learning Picks.  FireBet AI Tools, Arbitrage, Odds, and more.</title>
<meta name="msvalidate.01" content="C6383F52430DF3585D486848E2E96F4D" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16453183002"></script>









   

  

  </head>
  <body class=""  translate="no" style="margin-top:0px !important">
      <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel">
          <div class="container">
            <a class="navbar-brand mr-4" href="https://firebet.ai"><h2 style="margin-bottom: 0px; color:#F8F8F8 !important"><img class="resp"style="height:55px;padding-bottom:10px"src="{% static 'predict/flame-logo.png'%}">FireBet.ai</h2></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto" id="navigation-bar">
                <!-- Navbar Right Side 

                <a class="nav-item nav-link" href="{% url 'home-page'%}"><i class="fa fa-home"></i><span> Home</span></a>
                <a class="nav-item nav-link" href="https://nealmick.com/contact/"><i class="far fa-address-card"></i><span> Contact</span></a>
                <a class="nav-item nav-link" href="{% url 'stats-view'%}"><i class="fas fa-chart-line"></i><span> Stats</span></a>
                
                -->

              </div>
              <div class="navbar-nav" id="navigation-bar" >

                {% if user.is_authenticated %}
                <!-- Navbar Right Side 
                
                <a class="nav-item nav-link" href="/predict/simple/"><i class="fa-solid fa-list"></i><span> Simple</span></a>

                -->
                

                <a class="nav-item nav-link" href="{% url 'arb' %}"><i class="fa-solid fa-money-check-dollar"></i><span> Arb</span></a>
                <a class="nav-item nav-link" href="{% url 'home-predict' %}"><i class="fa-solid fa-basketball"></i><span> NBA</span></a>
                <a class="nav-item nav-link" href="/forum"><i class="fas fa-comment-dots"></i> Forum</span></a>

                <a class="nav-item nav-link" href="{% url 'profile' %}"><i class="fas fa-user"></i><span></span></a>


                {% else %}
                <a class="nav-item nav-link" href="{% url 'faq'%}"><i class="far fa-question-circle"></i><span> About </span></a>
                <a class="nav-item nav-link" href="{% url 'login'%}"><span><i style="width:17px;margin-right:5px"class="fas fa-sign-in-alt"></i>Login</span></a>
                <a class="nav-item nav-link" href="{% url 'register'%}"><span><i style="width:17px;margin-right:5px" class="far fa-user"></i>Register</span></a>
                {% endif %}
                </ul>
              </div>
        </nav>
      </header>

      <main role="main" class="container">
        <div class="row"  style="padding-top:60px;">

            
            {% block f %}{% endblock %}
            {% block content %}{% endblock %}
    </div>


    </main>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="{% static 'predict/base.js' %}"></script>
  </body>
</html>



